// 底纹背景
body
  background-size 100%
  background-image url('/Blog/line_bg.svg')
  background-attachment fixed
  background-repeat no-repeat
  background-position 50%

// 自定义容器
.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

// 杂记    
.about
  .aboutNav
    list-style none
    display flex
    // justify-content space-between
    justify-content left
    padding 0
    // box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    .aboutNavItem
      width 12.5%
      background #F0F2F4
      color #000000
      padding 5px 10px
      text-align center
      cursor pointer
      &:hover
        background $accentColor
        color #ffffff
  .aboutContent
    width 100%;
    box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    border-radius 0.25rem
    padding 10px
    box-sizing border-box
    .colors
      .midnightblue
        color midnightblue
        background-color midnightblue
      .blue
        color blue
        background-color blue
      .deepskyblue
        color deepskyblue
        background-color deepskyblue
      .cornflowerblues
        color cornflowerblue
        background-color cornflowerblue
      .lightskyblue
        color lightskyblue
        background-color lightskyblue
        height 21px
      li
        height 21px
        &:hover
          color #ffffff
    ul
      list-style none
      line-height 21px
      img
        width 16px
        height 16px
        margin 0 5px
      li
        // background #F0F2F4
        padding 0 5px
        margin-bottom 5px
        display: flex;
        align-items: center;
        &:last-child
          margin 0