// 背景
body
  background-size 100%
  background-image url('/Blog/line_bg.svg')
  background-attachment fixed
  background-repeat no-repeat
  background-position 50%

// 自定义容器
.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right


// 链接块
.link-block
  margin 0 -5px
  width 100%
  > .link-item
    margin 15px 7px 0
    padding 10px
    display inline-block
    width 190px
    height 100px
    text-align center
    background #f0f2f4
    cursor pointer
    text-decoration none !important
    border 1px solid transparent
    border-radius 4px
    box-sizing border-box
    overflow hidden
    &:hover
      border-color $accentColor
    p
      margin 0
      line-height inherit
      &.title
        padding-top 10px
        padding-bottom 5px
      &.intro
        font-size .8em
        color #666
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 2
        overflow hidden